.navbar {
  background-color: #111;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.nav-item {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0 15px;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.nav-item:hover {
  color: #e50914;
  transform: scale(1.1);
}

.nav-item:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #e50914;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.nav-item:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Estilos para el carrito */
.cart {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  font-size: 22px;
}

.cart i {
  transition: transform 0.3s;
}

.cart:hover i {
  color: #e50914;
  transform: scale(1.2);
}

/* Insignia del carrito */
.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: #e50914;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
